/* frontend/styles/globals.css */

/* 1. Tailwind base styles */
@tailwind base;

/* 2. Tailwind component classes */
@tailwind components;

/* 3. Tailwind utility classes */
@tailwind utilities;

/* 4. Global overrides */
body {
    margin: 0;
    font-family: theme('fontFamily.body');
    background-color: theme('colors.sereneWhite');
    color: theme('colors.mineralGray');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: theme('fontFamily.title');
}